<%- include("header") -%>
<h2>This is a about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatem ipsum in eius unde nemo iure sequi at
    ratione ab necessitatibus odit officia quisquam, qui debitis cupiditate aperiam tenetur neque doloremque quam amet
    labore placeat non! Repellat incidunt neque doloribus ad ipsum quasi est hic. Ipsa officia tempore nulla veritatis
    sit cupiditate, deserunt ullam, nostrum corrupti vel optio nihil voluptatibus animi excepturi ab culpa non
    voluptatum laborum sed explicabo nam eaque impedit illum maiores? Architecto ex saepe aliquam iure molestias, eaque
    quidem repellendus minima hic in cupiditate esse quasi, doloribus ab vero ut! Eligendi soluta, eos iure nam officiis
    nesciunt?</p>

<%- include("footer") -%>